# folders
.git
.gitignore
.vs
.config
.sitecore
glitterxmc/docker/
glitterxmc/packages/
**/bin/
**/obj/
**/out/
**/.generated/
**/.next*/
**/.vscode/
**/coverage/

# files
*Dockerfile
docker-compose*
**/*.md
*.ps1
**/*.yml
**/*.module.json
sitecore.json
