body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    width: 500px;
    height: 500px;

}
#header {
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ebe9fe;
    border-bottom: 1px solid gray;
}

#history {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    background-color: #ffffff;
}

#history table {
    color: #000000;
    font-size: 12px;
    margin-bottom: 5px;
    border-bottom: 2px solid gray;
    width: 100%;
}
#history table td.header{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
#history table td.data{
    color: #000000;
    font-size: 14px;
    font-weight: 200;
}

#footer {
    position : absolute;
    bottom : 0;
    height : 10px;
    width : 100%;
    background-color: #ebe9fe;
    color: #000000;
    text-align: left;
    font-size: 8px;
    padding: 3px;
}