body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 500px;
    height: 500px;

}
#header {
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #006f7c;
    border-bottom: 2px solid  #000000;
}

#history {
    color: #006f7c;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff;
}

#history table {
    color: #006f7c;
    font-size: 12px;
    margin-bottom: 5px;
    border-bottom: #006f7c 2px solid;
}
#history table td.header{
    color: #006f7c;
    font-size: 14px;
    font-weight: bold;
}
#history table td.data{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

#footer {
    position : absolute;
    bottom : 0;
    height : 10px;
    width : 100%;
    background-color: #006f7c;
    color: white;
    text-align: left;
    font-size: 8px;
    padding: 3px;
}